@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: var(--font-mono);
  background-color: var(--color-charcoal);
  color: #e0e0e0;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* 工业赛博风格滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: #ffbf00;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff6600;
}
